@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

.appBody {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #242323;
  overflow: hidden;
}

.App-header {
  height: 5vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: fixed;
  flex: 1;
  justify-content: flex-end;
  font-size: calc(10px + 1vmin);
  color: #E1E2E2;
  z-index: 11;
}

.Mobile-header {
  min-height: 8vh;
  display: flex;
  flex: 1;
  background-color: #242323;
  flex-direction: row;
  position: fixed;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: #E1E2E2;
  z-index: 5;
  width: 100%;
}

.navigation {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-height: 5vh;
  max-width: 40%;
  color: #E1E2E2;
  overflow: hidden;
  justify-content: flex-end;
  box-sizing: border-box;
}

.navigation a {
  margin-inline: 15px;
}

#burgMenu {
  display: flex;
  flex: 1;
  flex: row;
  justify-content: flex-end;
  align-items: center;
}

#burgButton {
  border: none;
  color: white;
  transform: scale(1.5);
  margin-left: 15px;
}

a {
  text-decoration: none;
  color: #E1E2E2;
}

h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 4vh;
}

#mobile-h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 3.5vh;
  text-align: left;
}

#contact-info {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  width: 100%;
}

#email-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
}

#mailIcon {
  padding-right: 5px;
  transform: translateY(4px);
}

.image-cropper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 7vw;
  height: 7vw;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

/*.App-Main {
  min-height: 100vh;
  max-width: 80vw;
  margin-left: 20vw;
}*/

.Mobile-Main {
  min-width: 100%;
  min-height: 100vh;
}

#landing {
  overflow: hidden;
  max-height: 100vh;
}

#landingIMG {
  position: relative;
  z-index: 0;
  width: 125vw;
}

.dash-blink{
  animation: 
    blink-caret 1.5s step-end infinite;
}

@keyframes blink-caret {
  from, to { opacity: 0 }
  50% { opacity: 1 }
}

#mobileLanding {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 5vh;
  padding-top: 10vh;
  background: linear-gradient(135deg, #ffa467 15%, #ff5164 85%);
}

.image-cropper-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 25vw;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

#headIMGMobile {
  width: 25vw;
}

#mobileLandingsubheader {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: medium;
  margin: 0px auto 0px auto;
  color: white
}

#mobileLanding h5{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: x-large;
  margin: 15px auto 5px auto;
  color: white;
}

#email-text-mobile {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #242323;
  text-decoration: none;
  margin: 0px auto 15px auto;
}

#linkedInIcon {
  color: #ff5164;
  transform: translateY(2px);
}

#about, #education, #certifications, #projects {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: row;
  min-height: 100vh;
  width: 100%;
  background-color: #242323;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  z-index: 5;
  padding-bottom: 25;
}

#aboutMobile, #educationMobile, #certificationsMobile, #projectsMobile {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}

#educationMobile {
  background-color: #242323;
}

#container-mobile {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: justify;
  height: fit-content;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  padding: 0px 15px 0px 15px;
}

#about-left {
  display: flex;
  flex: 1;
  height: fit-content;
  position: relative;
  flex-direction: column;
  min-width: 35vw;
  max-width: 45vw;
  padding: 50px 75px 100px 50px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.75em;
}

#about-left p, h5 {
  color: #FFFFFF
}

#container-mobile p, h5 {
  color: #FFFFFF
}

#api-console{
  background-color: #363434;
  height: 45vh;
  width: 35vw;
  border-radius: 35px;
  margin-inline-start: 25px;
  border: 3px solid #ff5164;
  overflow: hidden;
}

#api-console-mobile{
  background-color: #363434;
  height: 45vh;
  width: 35vw;
  border-radius: 35px;
  margin-top: 15px;
  border: 3px solid #ff5164;
  overflow: hidden;
  margin-bottom: 25px;
}

.api-button-text{
  font-family: Roboto; 
  font-size: 1em;
  color: #FFFFFF;
}

.api-call-button{
  border: 3px solid #ff5164;
  height: 20%;
  width: 10%;
  background-color: #242323;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.api-code-lines{
  list-style: none;
  text-indent: -1.5em;
  height: 100%;
}

.api-code-lines li{
  text-align: left;
  height: 8.5%;
  color: #FFFFFF;
  opacity: 0.5;
  font-size: 1.25em;
}

#education-child-container{
  display: flex;
  flex-direction: row;
  flex: 2;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: center;
}

#education-child-container-mobile{
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: center;
}


.degreeContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-wrap: wrap;
  position: relative;
  padding: 0px 15px 15px 15px;
  border-radius: 25px;
  border: 3px solid #ff5164;
  margin-inline: 15px;
}

.degreeContainerMobile{
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-wrap: wrap;
  position: relative;
  padding: 0px 15px 15px 15px;
  border-radius: 25px;
  border: 3px solid #ff5164;
  margin-inline: 15px;
  margin-block: 15px;
}

.degreeContainer p {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
  text-align: left;
}

.twoColumnList {
  display: flex;
  flex-direction: column;
  flex: 3;
  flex-wrap: wrap;
  list-style-position: outside;
}

.twoColumnList li{
  margin-inline-start: 10px;
  color: #FFFFFF;
  text-align: left;
}

.singleColumnList {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-wrap: wrap;
  padding-bottom: 25px;
  list-style-position: outside;
}

.singleColumnList li {
  color: white;
  padding-block-start: 5px;
  text-align: left ;
}

.fullWidth {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  background: linear-gradient(135deg, #ffa467 15%, #ff5164 85%);
  padding: 50px 75px 100px 50px;
  align-content: center;
  align-items: center;
}

.fullWidthMobile {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  background: linear-gradient(135deg, #ffa467 15%, #ff5164 85%);
  align-content: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}

.fullWidthBody {
  display: flex;
  flex-direction: row;
  flex: 2;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.fullWidthBodyMobile {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-content: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.subHeader {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: x-large;
  text-align: left;
}

#allCerts-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex: 2;
  max-height: 60vh;
}

#skillAssessContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  background-color: #242323;
  border-radius: 35px;
  width: 14vw;
  max-height: 60vh;
  padding: 0px 20px 20px 20px;
  cursor: pointer;
}

#skillAssessMobile{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #FFFFFF;
  border-radius: 35px;
  min-width: 14vw;
  box-sizing: border-box;
  margin-block: 15px;
  padding: 0px 20px 25px 20px;
}


#skillList{
  list-style-position: outside;
  text-indent: -3.3em;
  padding-left: 3.3em;
}

#skillList li {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 2em;
  padding-top: 5px;
  text-align: left;
}

.popup-parent{
  position: absolute; 
  height: 100vh;
  width: 100%;
  z-index: 20;
  align-self: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.popup-parent-mobile{
  position: absolute; 
  height: 100vh;
  width: 100%;
  z-index: 20;
  align-self: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.popup-blur{
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 20;
  align-self: center;
  background-color: #242323;
  opacity: 0.5;
}

.popup-main{
  display: flex; 
  flex-direction: column;
  flex: 1;
  position: absolute;
  justify-content: flex-start;
  align-items: center;
  height: 80vh;
  width: 50vw;
  background-color: #363434;
  border-radius: 25px;
  opacity: 1;
  z-index: 20;
  border: 2px solid #ff1564;
  overflow: hidden;
}

.popup-main-mobile{ 
  display: flex; 
  flex-direction: column;
  flex: 1;
  flex-wrap: wrap;
  position: absolute;
  height: 60vh;
  width: 85vw;
  background-color: #363434;
  border-radius: 27px;
  opacity: 1;
  z-index: 20;
  border: 2px solid #ff1564;
  overflow: hidden;
}

.popup-text-container{
  display: flex; 
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.popup-text-container-mobile{
  display: flex; 
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 100%;
  padding-inline: 25px;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: flex-start;
}

.popup-body{
  font-family: 'Montserrat', sans-serif; 
  font-weight: 400;
  font-size: 1vw;
  color: #000000;
  text-align: center;
}

.popup-body-mobile{
  font-family: 'Montserrat', sans-serif; 
  font-weight: 400;
  font-size: 4vw;
  color: #000000;
  text-align: center;
}