@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

.body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #242323;
    width: 100%;
    overflow-x: hidden;
}

.mobileMain {
    background-color: #242323;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    justify-content: flex-start;
    align-content: center;
}

.main{
    background-color: #242323;
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    justify-content: flex-start;
    align-content: center;
    z-index: 0;
}

#bannerImg {
    min-width: 80vw;
    max-height: 30vh;
    object-fit: cover;
}

.sectionContainer {
    box-sizing: border-box;
    padding: 0px 2% 0px 2%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.mobileContainer {
    background-color: #363434;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.sectionHeader {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.75vw;
    margin-bottom: 0px;
    margin-block-start: 2%;
    color: #FFFFFF;
}

.mobileH5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 10vw;
    margin-bottom: 0px;
    margin-inline-start: 4%;
    margin-block-start: 5%;
    color: #FFFFFF;
}

#overview-container {
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    margin-inline: 25px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}

.sectionSubHeader {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.25vw;
}

.mobileH3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 7.5vw;
}

.sectionP {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1vw;
    text-align: justify;
}

.mobileP {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 4vw;
    text-align: justify;
}

.feature-container {
    display: flex;
    flex-direction: column;
    flex: 2;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250vh;
    margin-top: 5vh;
}

.feature-container-mobile {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: wrap;
    max-width: 100%;
    height: 400vh;
    margin-block: 5vh;
}

.feature-cell {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 40%;
    min-width: 40%;
    height: fit-content;
    margin: 15px 25px 15px 25px;
    padding: 15px 25px 15px 25px;
    border-radius: 50px;
    background-color: #242323;
}

.feature-cell-mobile {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: nowrap;
    max-width: 95%;
    min-height: fit-content;
    margin: 15px 0px 15px 0px;
    padding: 15px 15px 15px 15px;
    border-radius: 25px;
    background-color: #242323;
    box-sizing: border-box;
}

.feature-h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.25vw;
    color: #FFFFFF;
}

.feature-h2-mobile {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 6.5vw;
    color: #FFFFFF;
}

.feature-p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: justify;
    font-size: 0.85vw;
    color: #FFFFFF;
}

.feature-p-mobile {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: justify;
    text-align-last: left;
    font-size: 3vw;
}

