@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

.body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #202124;
    width: 100%;
    overflow-x: hidden;
}
  
.sidebar {
    background-color: #202124;
    min-height: 100vh;
    min-width: 20vw;
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    z-index: 5;
}

.mobilebar {
    background-color: #202124;
    min-height: 8vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: calc(10px + 2vmin);
    color: #E1E2E2;
    z-index: 5;
}

.mobile-nav {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-height: 25vh;
}

.mobileMain {
    background-color: white;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    justify-content: flex-start;
    align-content: center;
}

.links {
    text-align: center;
    color: #E1E2E2;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.25vw;
}

#sidebar-title {
    color: #E1E2E2;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.25vw;
}

.sidebar-title-mobile {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 7vw;
    margin-top: 2%;
    margin-bottom: 5%;
}

.main{
    background-color: #E1E2E2;
    min-height: 100vh;
    min-width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    justify-content: flex-start;
    align-content: center;
    z-index: 0;
    margin-left: 20vw;
}

#bannerImg {
    min-width: 80vw;
    max-height: 30vh;
    object-fit: cover;
}

.sectionContainer {
    box-sizing: border-box;
    padding: 0px 2% 0px 2%;
}

.mobileContainer {
    background-color: white;
}

.sectionHeader {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.75vw;
    margin-bottom: 0px;
    margin-block-start: 2%;
    color: #39B54A
}

.mobileH5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 10vw;
    margin-bottom: 0px;
    margin-inline-start: 4%;
    margin-block-start: 5%;
    color: #39B54A
}

#overview-container {
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    margin-inline: 25px;
}

.sectionSubHeader {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.25vw;
}

.mobileH3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 7.5vw;
}

.sectionP {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1vw;
    text-align: justify;
}

.mobileP {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 4.5vw;
    text-align: justify;
}

#features-carousel {
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

